.box {
    width: 1199px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

li {
  display: list-item;
  text-decoration: none;
  list-style-type: none;
  margin-left: 15px;
  margin-top: -15px;
}
img {
  border-radius: 50%;
  width: 80%;
  height: 80%;
}
h3 {
  font-size: 15px;
  opacity: 0.7;
  margin-top: 15px;
}
p {
  font-size: 12px;
  width: 200px;
  opacity: 0.8;
  margin-top: -5px;
}
.one {
  display: flex;
  width: 300px;
  margin-top: 30px;
}
.one li{
  flex-direction: column;
}
.one span {
  padding-top: 5px;
}
@media(max-width:1600px){
  .one {
    width: 300px;
  }
}
@media(max-width:1220px){
  .one {
    width: 300px;
  }

}
@media(max-width:1130px){
  .one {
    width: 300px;
  }
  .box {
    height: 1000px;
    width: 850px;
  }
}
@media(max-width:770px){
  .one {
    width: 300px;
  }
  .box {
    height: 1000px;
    width: 665px;
  }
}
@media(max-width:600px){
  .one {
    width: 300px;
  }
  .box {
    height: 2000px;
    width: 500px;
  }
}

